/* Default Style */
* {
	margin: 0;
	padding: 0;
}
*:focus {
	outline: none !important;
}
::placeholder {
	color: #555555;
	opacity: 0.5;
	font-style: italic;
}
button:hover {
	cursor: pointer;
}
ul,
ol,
li {
	list-style: none;
}

/* Custom Style */
.loader_bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgb(85, 85, 85);
	z-index: 5000;
}
.loader {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 250px;
	background: url("https://searchyours.site/src/todo/logo.jpg") no-repeat
		rgb(249, 249, 249);
	background-size: 100%;
	z-index: 7000;
}

.td_input {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #0c0c0c;
	opacity: 0.7;
}
.td_input .input_area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	background: #ffffff;
	padding: 50px;
	line-height: 30px;
}
.td_input > .input_area > .Select {
	text-align: center;
}
.td_input > .input_area > .Select > button {
	width: 25%;
	border-radius: 15rem;
	border: 0.05rem solid #555555;
	background-color: #ffff;
	padding: 0.2rem 0;
}
.td_input > .input_area > .Select > .on {
	background: #555555;
	color: #ffffff;
}
.td_input > .input_area > .Select > button:hover {
	background: #555555;
	color: #ffff;
}

.td_input .input_area .content {
	margin: 6% 0;
	text-align: center;
}
.td_input .input_area .content .new_td {
	width: 90%;
	border: none;
	border-bottom: 0.07rem solid #858585;
}
.td_input .input_area .content #td_list li {
	text-align: left;
}
.td_input .input_area .content #td_list li span {
	color: #555555;
	font-size: 0.8rem;
	margin-left: 5%;
	cursor: default;
}
.td_input .input_area .content #td_list li button {
	background: #ca4c4cc4;
	color: #ffffff;
	font-size: 0.6rem;
	font-style: italic;
	margin-left: 1%;
	border: none;
	padding: 0 0.2rem;
	border-radius: 1px;
}

.td_input .input_area > input {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	color: #ffff;
	width: 35%;
	border-radius: 15rem;
	border: 0.05rem solid #555555;
	background-color: #555555;
	padding: 0.2rem 0;
}
.td_input .input_area > input:hover {
	background-color: #ffffff;
	color: rgba(0, 0, 0);
	cursor: pointer;
}

.td_input .input_area .close {
	position: absolute;
	bottom: 5%;
	right: 5%;
	color: #555555;
	font-size: 1rem;
	font-style: italic;
}
