/* Default Style */
* {
	margin: 0;
	padding: 0;
}
*:focus {
	outline: none !important;
}
::placeholder {
	color: #555555;
	opacity: 0.5;
	font-style: italic;
}
button:hover {
	cursor: pointer;
}
ul,
ol,
li {
	list-style: none;
}

/* Custom Style */
body {
	margin: 10% 10% 0 10%;
	color: #555555;
}

.td_Page {
	border: 1px solid #555555;
	padding: 5%;
	height: auto;
	min-height: 500px;
}
.td_Page > header {
	position: relative;
	padding-bottom: 4.5em;
	overflow: auto;
}
.td_Page > header > #date_screen {
	font-size: 4em;
	margin-right: 0.1em;
}
.td_Page > header > ul {
	display: inline-block;
}
.td_Page > header > ul > li {
	font-size: 0.83em;
}

.td_Page > header > #calendar {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.65em;
	text-align: center;
	cursor: default;
}
.td_Page > header > #calendar > .calHead {
	position: relative;
	font-size: 0.7em;
	font-weight: bold;
	line-height: 2em;
}
.td_Page > header > #calendar > .calHead > .prv {
	position: absolute;
	left: 1em;
	padding: 0 0.5em;
	cursor: pointer;
}
.td_Page > header > #calendar > .calHead > .next {
	position: absolute;
	right: 1em;
	padding: 0 0.5em;
	cursor: pointer;
}
.td_Page > header > #calendar > tr > td {
	padding: 0.2em;
	width: 1em;
	height: 1em;
	overflow: hidden;
}
.td_Page > header > #calendar > tr .date:hover {
	color: #ffffff;
	background-color: #555555;
	cursor: pointer;
	border-radius: 50%;
}
.td_Page > header > #calendar > tr .Sun {
	color: rgb(250, 68, 68);
}
.td_Page > header > #calendar > tr .Sat {
	color: rgb(72, 72, 248);
}

.td_Page .listInput_area {
	text-align: center;
	margin: 0 3%;
}
.td_Page .listInput_area .new_td {
	width: 100%;
	height: 1em;
	padding: 0.5em;
	border: 0.07rem solid #858585;
}

.td_Page .content {
	margin: 2% 3%;
}
.td_Page .content #td_list li {
	text-align: left;
}
.td_Page .content #td_list li span {
	color: #555555;
	font-size: 0.8rem;
}
.td_Page .content #td_list li span.tdDone {
	color: #555555;
	font-style: italic;
	text-decoration: line-through;
	font-size: 0.8rem;
}
.td_Page .content #td_list li span:hover {
	color: #ffffff;
	background-color: #555555;
	font-weight: bold;
	font-size: 0.8rem;
	cursor: pointer;
}
.td_Page .content #td_list li button {
	background: #ca4c4cc4;
	color: #ffffff;
	font-size: 0.6rem;
	font-style: italic;
	margin-left: 1%;
	border: none;
	padding: 0 0.2rem;
	border-radius: 1px;
}
